:root {
  --page-width: 80em;
}

.container {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header"
  "main main help"
  "main main game-info"
  "footer footer footer";
}

.header {
  grid-area: header;
}

.display {
  text-align: center;
}

.display canvas {
  border: 1px solid black;
  image-rendering: crisp-edges;
}

.game-info {
  grid-area: game-info;
}

.main {
  grid-area: main;
}

.help {
  grid-area: help;
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "game-info"
    "help"
    "footer";
  }
}
