:root {
  --page-width: 1010px;
}

.container {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main controls"
    "main main opcode"
    "game-info game-info opcode"
    "help help registers"
    "help help registers"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.display {
  text-align: center;
}

.display canvas {
  border: 1px solid black;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.game-info {
  grid-area: game-info;
  text-align: justify;
}

.opcode {
  grid-area: opcode;
}

.registers {
  grid-area: registers;
}

.registers .terminal-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.registers header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.registers .values-1,
.registers .values-2,
.registers .values-3 {
  padding: var(--global-space);
  text-align: center;
}

.registers .values-1 {
  grid-column: 1 / 3;
  grid-row: 2;
}

.registers .values-2,
.registers .values-3 {
  grid-row: 3;
}

.registers .values-2 {
  grid-column: 1 / 2;
}

.registers .values-3 {
  grid-column: 2 / 2;
}

.opcode .values {
  height: 200px;
  overflow: auto;
}

.opcode .current-addr {
  background-color: black;
  color: white;
}

.main {
  grid-area: main;
}

.controls {
  grid-area: controls;
}

.controls button {
  margin-bottom: 5px;
}

.help {
  grid-area: help;
  text-align: justify;
}

.help .keymap {
  border: none;
  text-align: center;
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "controls"
      "game-info"
      "help"
      "opcode"
      "registers"
      "footer";
  }
}
